#header{
    height: 200px;
    width: 100%;
    background-color: blue;
    
}

#header2{
    height: 200px;
    width: 100%;

    
}


.header2{
    height: 200px;
    width: 100%;
    background-color: brown;
    
}