body{
background-color:rgba(245, 245, 245, 0.849);
    font-family: 'Bellota',
    cursive;
    
}

.title{

  
   
    
   background: rgb(221, 45, 45);
   background: linear-gradient(153deg, rgba(221, 45, 45, 1) 15%, rgba(252, 247, 69, 1) 55%, rgba(252, 69, 113, 1) 76%);
    -webkit-background-clip: text;
    color: transparent;


letter-spacing: 1rem;
text-align: center;
font-size: 5rem;
font-weight: 900;
}

