 body {
     margin: 0px;
     font-family: 'Amatic SC',
     cursive;
 }

 .pad {
    
 }

 .header {
font-family: 'Amatic SC',
cursive;
letter-spacing: 1rem;
text-align: center;
font-size: 5rem;
font-weight: 900;
padding-left: 10rem;
background-color:#FCB69A;
 }

 .welcome {
     background-color: #df9f9e;
     color: white;
     font-size: 16pt;
     text-align: center;
     height: 40px;
     margin: 0px;
 }

 .main-text {
     width: 100%;
     float: left;
     background-color: #bb5769d7;
color:white;
     text-align: center;
     font-size: 4rem;
     font-weight: 900;
 }

 .divs {
  

  
color:white;
 }
 .fact{
     padding-right: 35rem;
     
 }
 .keep{

 }

 