body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size:2em;
    line-height: 1.7;
}

.header{
    
    background-image:linear-gradient(rgba(0, 0, 255, 0.192), rgba(255, 0, 0, 0.322)), url('image/logo/camera/camera.jpg');
    background-size: cover;
    background-position: top;
    background-color: #e74cec;
    height: 95vh;
    position: relative;
    /* clip-path: circle(40%)
  */
}


.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 75px;

}

.heading-primary{

}

.heading-primary-main{

}

.heading-primary-sub{
    
}
