
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "base/base";

@import "pages/home";

@import "componets/button";

@import "layout/header";



body{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: white;
    font-size:16px;
    line-height: 1.7;
    font-weight:400;
    font-family: 'Lato', sans-serif;
}




























